@keyframes rotate360 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rotate-animation {
    animation-name: rotate360;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .ResumeBox,.TitleHover,.RoundedDot{
    transition: all;
    transition-duration: .6s;
    transition-timing-function: ease-in-out;
  }
  .ResumeBox:hover .TitleHover {
    color: #28e98c;
  }
  .ResumeBox:hover .RoundedDot {
    background-color: #28e98c;
  }
  .ServiceBox,.Projects{
    transition: all;
    transition-duration: .6s;
    transition-timing-function: ease-in-out;
  }
  .ServiceBox:hover{
    border-color: #28e98c;
  }
  .ServiceBox:hover .Projects{
   text-decoration: underline;
  }
  .SkillBox{
    border-color: #565656;
    transition: all;
    transition-duration: .6s;
    transition-timing-function: ease-in-out;
  }
  .SkillBox:hover{
    border-color: #28e98c;
  }
  .PortfolioBox img{
    border-radius: 40px;
  }
  .PortfolioBox .Heading{
    background: white;
    color: black;
    border: white;
    transition: .5s;
    text-transform: capitalize;
  }

.IconHover{
transition: all;
transition-duration: .5s;
transition-timing-function: ease-in-out;
}
.group:hover .IconHover{
  color: #28e98c;
}
.Rounded:hover .IconHover{
  color: #28e98c;
  transition-duration: .3s;
}