@keyframes rotate360 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rotate-animation {
    animation-name: rotate360;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .ResumeBox:hover .TitleHover {
    color: #28e98c;
    transition: all;
    transition-duration: .3s;
  }
  .ResumeBox:hover .RoundedDot {
    background-color: #28e98c;
    transition: all;
    transition-duration: .3s;
  }
  .ServiceBox:hover{
    transition: all;
    transition-duration: .3s;
    border-color: #28e98c;
  }
  .ServiceBox:hover .Projects{
    transition: all;
    transition-duration: .3s;
   text-decoration: underline;
  }
  .SkillBox:hover{
    border-color: #28e98c;
    transition: all;
    transition-duration: .3s;
  }
  .PortfolioBox img{
    border-radius: 40px;
  }
  .PortfolioBox .Heading{
    background: white;
    color: black;
    border: white;
    transition: .5s;
    text-transform: capitalize;
  }
  /* .PortfolioBox:hover{
    transition: all;
    transition-duration: .2s;
    cursor: pointer;
  } */
  /* .PortfolioBox:hover .Heading{
    background-color: black;
    color: white;
    border: black;
  }
  
  .PortfolioBox:hover .PortfolioButtomText::after{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    transition: .5s;
  }
  .PortfolioButtomText{
    font-weight: 300;
    transition: all;
  } */

  .Rounded:hover i{
color: #28e98c;

  }