
.main-color-option-inner .themes li a::before {
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 50%;
    opacity: 0;
    transition: .3s;
}
.main-color-option-inner .themes li a:hover::before,
.main-color-option-inner .themes li.active a::before {
    opacity: 1;
}

.main-color-box.active .inner .main-color-option {
    margin-right: 0;
}

.main-color-box .main-color-option .colorContainer a {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    background: #28e98c;
}
.main-color-box .main-color-option .colorContainer a::before {
    content: '';
    border: 1px solid #fff;
    position: absolute;
    border-radius: 50%;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .3s;
}
.main-color-box .main-color-option .colorContainer a::after {
    content: '';
    position: absolute;
    border: none;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    left: 50%;
    top: 50%;
    background: #fff;
    border-radius: 50%;
    opacity: 0;
}
.main-color-box .main-color-option .colorContainer a.clr-active::after,
.main-color-box .main-color-option .colorContainer a:hover::after,
.main-color-box .main-color-option .colorContainer a:hover::before,
.main-color-box .main-color-option .colorContainer a.clr-active::before {
    opacity: 1;
}
.main-color-box .main-color-option .colorContainer a:nth-child(2) {
    background: #e4af12;
}
.main-color-box .main-color-option .colorContainer a:nth-child(3) {
    background: #fe6f1d;
}
.main-color-box .main-color-option .colorContainer a:nth-child(4) {
    background: #14c5fd;
}
.main-color-box .main-color-option .colorContainer a:nth-child(5) {
    background: #c0c0c0;
}
.main-color-box .main-color-option .colorContainer a:nth-child(6) {
    background: #1338f3;
}
.main-color-box .main-color-option .colorContainer a:nth-child(7) {
    background: #f31313;
}
.main-color-box .main-color-option .colorContainer a:nth-child(8) {
    background: #ff99cc;
}
.main-color-box .main-color-option .colorContainer a:nth-child(9) {
    background: #cceb00;
}
.main-color-box .main-color-option .colorContainer a i {
    font-size: 14px;
}

.Bg-Color-Container li{
    color: black;
}
.Bg-Color-Container li{
    background-color: #28e98c;
}

.Bg-Color-Container li:nth-child(2){
    background-color: #28e98c;
}
.Bg-Color-Container li:nth-child(3){
    background-color: #28e98c;
}
.Bg-Color-Container li:nth-child(4){
    background-color: #28e98c;
}
.Bg-Color-Container li:nth-child(5){
    background-color: #28e98c;
}
.Bg-Color-Container li:nth-child(6){
    background-color: #28e98c;
}