@keyframes rotate360 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rotate-animation {
    animation-name: rotate360;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  