@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    color: #999999;
    background: black;
    line-height: 1.7;
    overflow-x: hidden;
    height: 100vh;
  }
  
  img {
    max-width: 100%;
  }
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

@layer components{
 .Btn{
  @apply w-full uppercase bg-green-500 text-black border-2 border-green-500 rounded-full transition duration-300 ease-in-out px-14 py-3 hover:bg-transparent hover:text-green-500;
 }
 .Rounded{
  @apply border-2 border-[#565656] text-Primary w-[50px] h-[50px] rounded-full transition duration-200 hover:text-green-600 hover:border-green-600;
 }
}
  
/* 9783-C4CE */